* { box-sizing: border-box; }


html {
    background-image: url(img/bg.png);
    background-color: #343640;
    background-size: auto !important;
    font-family: 'Playfair Display', serif;
    background-attachment: scroll !important;
}

.grid-item {
    float: left;
    padding: 5px;
    width: 40%;
    
    color: #1a1c21;
}

.grid-sizer {
    width: 40%;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #cecece;
}

.caption {
    border-radius: 0 0 6px 6px;
    background-color: #fff;
    color: #1a1c21;
    padding: 10px 20px;
    font-size: 17px;
}

.title {
    font-weight: bold;
    color: #f64c3f;
}